html,
body {
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

.navCustom {
  background-color: #b59a77;

}

.bodyCustom {
  background-color: #dbc4a6;
  padding-top: 2em;
}

.fontCustom {
  font-family: "Zilla Slab", serif !important;
}

.quotes {
  font-family: "Zilla Slab", serif !important;
  text-align: center;
  font-size: 28px;
  color: #000000;
  padding-top: 2em;
  padding-bottom: 2em;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.pad-right1 {
  padding-right: 4em;
}

.brown1 {
  color: #4c3216;
}

@media (max-width: 991px) {
  nav.navbar {
    background: lightgray !important;
  }
}

#header_placeholder {
  height: 70px;
  width: 100%;
  display: none;
}

.img-responsivex {
  height: auto;
  width: auto;
  max-height: 77px;
  max-width: 255px;
}

.captchaWrap {
  padding-top: 2em;
}

.black1 {
  color: black;
}

.imgFix {
  width: 100%;
  height: 100%;
}

.aboutText{
  font-size: 1.5em;
}

.pad-bottom1 {
  padding-bottom: 2em;
}

.center{
  text-align: center;
}

.margin-bot{
  margin-bottom: 2em;
}

.icon-size {
  height: 13px;
  width: 13px;
}

.image_off,
#home:hover .image_on {
  display: none
}

.image_on,
#home:hover .image_off {
  display: block
}

.footer-icon{
  height: 16px;
  width: 16px;
}

.margin-card {
    margin-bottom: 1em;
}

.pic-individual {
    padding-bottom: 2em;
    width: 639px;
}

.pad1 {
    padding: 1em;
  }
  
  .padBot {
    padding-bottom: 5em;
  }

  .nails img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

  }

.cursive {
    font-family: 'Courgette', cursive;
    font-size: 24px;
    color: #3a3c4e;
}

.name {
    text-align: right;
}

hr.style-five {
    border: 0;
    height: 0;
    /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}

hr.style-five:after {
    /* Not really supposed to work, but does */
    content: "\00a0";
    /* Prevent margin collapse */
}

.testTitle {
    color: #000000;
}

.jumbotron {
  color: white;
  background-image: url("img/wedding/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.quotesx {
  font-family: "Zilla Slab", serif !important;
  /*text-align: center;*/
  font-size: 42px;
  color: #FFFFFF;
  /*padding-top: 2em;*/
  padding-bottom: 0.5em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.quotesxy {
  font-family: "Zilla Slab", serif !important;
  /*text-align: center;*/
  font-size: 40px;
  color: #FFFFFF;
  /*padding-top: 2em;
padding-bottom: 2em;*/
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.hColor {
  color: #000000;
}

.pColor {
  color: #3A414E;
}

.titleA {
  font-size: 32px;
}

.quotesMod {
  font-family: "Zilla Slab", serif !important;
  text-align: center;
  font-size: 28px;
  color: #000000;
  padding-top: 2em;
  /*padding-bottom: 2em;*/
}

.spacer {
  padding-top: 3em;
}

.padded {
  padding: 1em;
}

.spacing {
  margin-top: 1em;
  margin-bottom: 1em;
}
.pic {
  padding-bottom: 1em;
}

.pic img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;

}

.container {
  width: 100%;
}

.quotesx {
  font-family: "Zilla Slab", serif !important;
  /*text-align: center;*/
  font-size: 42px;
  color: #FFFFFF;
  /*padding-top: 2em;*/
  padding-bottom: 0.5em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.quotesxy {
  font-family: "Zilla Slab", serif !important;
  /*text-align: center;*/
  font-size: 40px;
  color: #FFFFFF;
  /*padding-top: 2em;
padding-bottom: 2em;*/
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.hColor {
  color: #000000;
}

.pColor {
  color: #3A414E;
}

.titleA {
  font-size: 32px;
}

.quotesMod {
  font-family: "Zilla Slab", serif !important;
  text-align: center;
  font-size: 28px;
  color: #000000;
  padding-top: 2em;
  /*padding-bottom: 2em;*/
}

.spacer {
  padding-top: 3em;
}

.padded {
  padding: 1em;
}

.spacing {
  margin-top: 1em;
  margin-bottom: 1em;
}

.pic {
  padding-bottom: 1em;
}

.pic img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;

}

.container {
  width: 100%;
}

.bodyCustomW{
  background-color: #dbc4a6;
}